@using VideoGameCompendium.Models;
@model Game

<div class="gameDisplay">
    <a href="~/Home/Game?id=@Model.Id">
        <img src="@Model.Image">
    </a>
    <a href="~/Home/Game?id=@Model.Id">
        <p>@Model.Title</p>
    </a>
</div>