@using VideoGameCompendium.Models;
@model Game

<div class="GameDisplay Tile">
    @*<div class="gameImage">@Model.Image</div>
    <div class="gameTitle">@Model.Title</div>
    <div class="gameDesc">@Model.Description</div>*@
    <p>Here is some information.</p>
    <p class="test">Some test information</p>
</div>