@using VideoGameCompendium.Models;
@model Game

<div class="GameDisplay">
    <a href="~/Home/Game?id=@Model.Id">
        <img src="@Model.Image">
    </a>
    <a href="~/Home/Game?id=@Model.Id">
        <p class="Block">@Model.Title</p>

       
        <div class="ListInfo">@foreach (var item in Model.Genres)
            {
                <p class="Inline Exo">@item</p>
            }
        </div>

        <p> </p>
        <div class="ListInfo">@foreach (var item in Model.Platforms)
        {
            <p class="Inline Exo">@item</p>
        }
        </div>
    </a>
</div>