@using VideoGameCompendium.Models
@model User

<div class="Round">
    <a asp-action="UserProfile" asp-controller="Home" asp-route-id="@Model.ID">
        @Model.Username
        <img src="~/Images/@Model.Image" />
    </a>

</div>