<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/MainStyle.css" rel="stylesheet" />
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
    <title>@RenderSection("Title", false)</title>
</head>
<body>
    <div class=”main-container”>
        <header>
            <a class="NavButtons" asp-action="Index" asp-controller="Home">Home</a>
            <a class="NavButtons" asp-action="Browse" asp-controller="Home">Browse</a>
            <a class="NavButtons" asp-action="Collection" asp-controller="Home">Collection</a>
        </header>
        <footer>
            The Collectors &copy; @DateTime.Now.Year
        </footer>
    </div>
    @RenderBody()
</body>
</html>