.List {
    transition: all 1s;
    height: 110px;
    width: 1200px;
    display: block;
    text-align:left;
}
.List img{
    display: none;
}
.List .ListInfo {
    display: inline;
    white-space: nowrap;

}
.List p{
   margin:0 auto;
}

.Block{
    display:block;
}

.Inline{
    display:inline;
}

.Exo {
    font-family: 'Exo', sans-serif;
}



.Grid{
    transition: all 1s;
}

.Grid .ListInfo{
    display:none;
}


.Grid .test{
    display: none;
}
