.List {
    transition: all 1s;
    height: 40px;
    width: 1500px;
    display: block;
    text-align:left;
}
.List img{
    display: none;
}
.List .ListInfo{
    display:inline-block;
    white-space:nowrap;
}
    .List .ListInfo p {
        text-align: center;
    } 

.List p{
   margin:0 auto;
   display:inline-block;
}



.Grid{
    transition: all 1s;
}

.Grid .ListInfo{
    display:none;
}

.Grid .test{
    display: none;
}
