
/*Animations for Fading in*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes fadeInTranslate {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    100% {
        opacity: 100;
        transform: translateY(50px);
    }
}


.indexContent {
    display: inline-block;
    text-align: center;
    font-family: 'Exo', sans-serif;
    position: absolute;
    left: 29.7%;
    top: 10%;

    /*Animation Stuff*/
    -webkit-animation-name: fadeInTranslate;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 2.0s;
    -webkit-animation-iteration-count: 1;
}

.indexContent span{
    font-size: 1.5em;
}

.indexTitle {
    font-size: 2.5em;
}

* {
    box-sizing: border-box;
}

    *:before,
    *:after {
        box-sizing: border-box;
    }

html,
body {
    background-image: linear-gradient(-90deg, #6B1039, grey, #6B1039);
    margin: 0;
    height: 100%;
    position: relative;
}

.main-container {
    /*min-height: 100vh;*/ /* will cover the 100% of viewport */
    margin-bottom: -30px;
    padding-bottom: 50px; /* needs to be the height of the footer */
    flex: 1 0 auto;
    /*overflow: hidden;*/
    /*display: block;
    position: relative;*/
}

/*Footer Styling*/
footer {
    background-color: #171717;
    color: #E02176;
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    flex-shrink: 0;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: #171717;
    color: #171717;
    height: 50px;
    padding: 10px 0px 0px 0px;
}

/*NavButton Styling*/
.NavButtons {
    text-decoration: none;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 26px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 0.625%;
    margin-left: 1%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

    -webkit-transition: color 0.75s;
    -webkit-animation-name: fadeIn;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 2.0s;
    -webkit-animation-iteration-count: 1;
}


/*Grid Styling for Browse*/
.GameCard {
    display: inline-block;
    border: 3px solid #C71E6A;
    height: 275px;
    width: 250px;
    text-align: center;
    overflow: hidden;
    background-color: #9C1753;
    border-radius: 10px;
    font-size: 18px;
    font-family: Cairo;
    color: white;
    margin: 6px;
    -webkit-transition: color 0.75s;
    -webkit-animation-name: fadeIn;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 2.0s;
    -webkit-animation-iteration-count: 1;
    -webkit-transition: background-color 1s;
}

.ListInfo{
    display:none;
}



/*Game Card Styling + Animations*/
.GameCard img {
    height: 150px;
    width: 150px;
    padding: 5px;
    transition-timing-function: ease;
    transition: all 1s;
    justify-content: center;
}

.GameCard img:hover {
    transition-timing-function: ease;
    height: 175px;
    width: 175px;
}

.GameCard:hover {
    background-color: #6B1039;
    -webkit-transition: background-color 0.75s;
}

.GameCard a:link {
    color: white;
    text-decoration: none;
}

.GameCard a:visited {
    color: white;
}

.gameDisplay {
    margin: auto;
    width: 70%;
}


/*When you hover over one of the buttons*/
.NavButtons:hover {
    color: #E02176;
    -webkit-transition: color 0.75s;
}

/*When you click on a button*/
.NavButtons:active {
    color: #B30050;
}
/*User Account stuff*/
.TextBox{
    width:1000px;
    height:500px;
}

.Button {
    background-color: #9C1753;
    color: white;
    border: 2px solid #E02176;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width:100px;
    height:50px;
    font-size:20px;
    font-family: 'Exo', sans-serif;
}

.Button:hover {
    background-color: white; 
    border: 2px solid #9C1753;
    color: #9C1753;
}


.ButtonVariant {
    background-color: #9C1753;
    color: white;
    border: 2px solid #E02176;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 75px;
    height: 25px;
    font-size: 15px;
    font-family: 'Exo', sans-serif;
}

    .ButtonVariant:hover {
        background-color: white;
        border: 2px solid #9C1753;
        color: #9C1753;
    }

    .Comment{
        color:white;
        font-family:'Exo', sans-serif;
        font-size:30px;
    }

/*Profile Stuff*/
.ProfileContainer{
    color:white;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
}

.ProfileContainer a {
    transition: all 1s;
}

.ProfileContainer a:visited{
    color:white;
}

.ProfileContainer a:hover {
    color: #FF2688;
}

.UserName{
    font-size:40px;
    display:inline-block;
    margin:10px auto;
}
    
/*Image Stuff*/
.ImageResize {
    width: 400px;
    height: 400px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

    /*Column Images resize*/
    .column img {
        height: 400px;
        width: 400px;
    }

.dubleColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.tripleColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
}





.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

    .stars-outer::before {
        content: "\f005 \f005 \f005 \f005 \f005";
    }

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

    .stars-inner::before {
        color: #f8ce0b;
        content: "\f005 \f005 \f005 \f005 \f005";
    }

.stars-cover {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    visibility: hidden;
}

    .stars-cover::before {
        color: darkgoldenrod;
        content: "\f005 \f005 \f005 \f005 \f005";
    }

.hidden {
    display: none;
}
