@keyframes fadeIn{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes slidetoright{
    0%{
        transform:translateX(0px);
    }
    100%
    {
        transform:translateX(100px);
    }
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    background-color: grey;
    margin: 0;
    height: 100%;
    position: relative;
}

.main-container {
    /*min-height: 100vh;*/ /* will cover the 100% of viewport */
    margin-bottom: -30px;
    padding-bottom: 50px; /* needs to be the height of the footer */
    flex: 1 0 auto;
    /*overflow: hidden;*/
    /*display: block;
    position: relative;*/
}

footer {
    background-color: #171717;
    color: #E02176;
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    flex-shrink: 0;
    /*position: absolute;
    bottom: 0;*/
}

header {
    background-color: #171717;
    color: #171717;
    height: 50px;
    padding: 10px 0px 0px 0px;
}

/*Base Navigation Button Styling*/
.NavButtons{
    text-decoration: none;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 26px;

    padding-left: 5px;
    padding-right: 5px;
    margin-right: 0.625%;
    margin-left: 1%;

    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

    -webkit-transition: color 0.75s;
    -webkit-animation-name:fadeIn;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-duration:2.0s;
    -webkit-animation-iteration-count: 1;
}

/*When you hover over one of the buttons*/
.NavButtons:hover {
  color: #E02176;
  -webkit-transition: color 0.75s;
}

/*When you click on a button*/
.NavButtons:active {
  color: #B30050;
}

/*Rows and Columns are for setting up page layouts*/
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.dubleColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.tripleColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
}

.stars-outer {
	display: inline-block;
	position: relative;
	font-family: FontAwesome;
}

.stars-outer::before {
	content: "\f005 \f005 \f005 \f005 \f005";
}

.stars-inner {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
}

.stars-inner::before {
	color: #f8ce0b;
	content: "\f005 \f005 \f005 \f005 \f005";
}

.stars-cover {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	visibility:hidden;
}

.stars-cover::before {
	color: darkgoldenrod;
	content: "\f005 \f005 \f005 \f005 \f005";
}

.stars-hidden, .stars-gameId, .stars-userId {
	display:none;
}

.inlinBlock{
    display: inline-block;
}

.ProfileContainer {
    border: solid 2px black;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 5%;
}

.profileUserImageBio{
    border: solid 1px white;
}

.profileStatCollectionFavs {
    border: solid 1px white;
}

.profileFriends {
    border: solid 1px white;
}

.profileComments {
    border: solid 1px white;
}

.gamePageImageDescriptionContainer {
    border: solid 2px black;
}

.gamePageImg {
    border: solid 1px white;
}

.gamePageDescription {
    border: solid 1px white;
}

/*.gamePageRatingContainer {
    border: solid 2px black;
}

.gamePageRating {
    max-width:0px;
    border: solid 1px white;
}*/

.gamePageCommentsContainer {
    border: solid 2px black;
}

.gamePageComments {
    border: solid 1px white;
}