@using VideoGameCompendium.Models
@model List<Game>


@section Title{
    Browse Games
}

@section AddToHead{
    <link href="@Url.Content("~/Styles/CollectionStyle.css")" rel="stylesheet" />
}

<div class="GameLayoutToggle">
    <button class="listBtn ButtonVariant" onclick="ListDisplay()">List</button>
    <button class="gridBtn ButtonVariant" onclick="GridDisplay()">Grid</button>
</div>

<form class="FilterForm" action="~/Home/Browse" method="get">
    <input type="text" name="platform" placeholder="Switch" />
    <select asp-items="@ViewBag.Genres" name="genre">
        <option value="">Select One</option>
    </select><br />
    <select asp-items="@ViewBag.ESRB" name="esrb">
        <option value="">Select One</option>
    </select>
    <input class="ButtonVariant" type="submit" name="submit" value="Filter!" />
</form>

<div class="gameDisplay">
    @if (Model != null)
    {
        @foreach (Game game in Model)
        {
            <div class="GameCard">
                <partial name="_DisplayGamesBrowsePartial" model="game" />
            </div>
        }
    }
</div>


<script>
    var element = document.getElementsByClassName("GameCard");
    function ListDisplay() {
        for (var i = 0; i < element.length; i++)
        {
            element[i].className = "GameCard List";
        }
        
    }

    function GridDisplay() {
        for (var i = 0; i < element.length; i++)
        {
            element[i].className = "GameCard Grid";
        }
    }
</script>
