@using VideoGameCompendium.Models
@model List<Game>


@section Title{
    Browse Games
}

@section AddToHead{
    <link href="@Url.Content("~/Styles/CollectionStyle.css")" rel="stylesheet" />
}

@*<div class="buttonToggle">
    <button class="listBtn" onclick="ListDisplay()">List</button>
    <button class="gridBtn" onclick="GridDisplay()">Grid</button>
</div>*@

<div class="gameDisplay">
    @if (Model != null)
    {
        @foreach (Game game in Model)
        {
            <div class="GameCard">
                <partial name="_DisplayGamesHomePartial" model="game" />
            </div>
        }
    }
</div>


@*<script>
    var element = document.getElementById("display");
    function ListDisplay() {
        element.className = "List";
    }

    function GridDisplay() {
        element.className = "Grid";
    }
</script>*@
