@using VideoGameCompendium.Models;
@model List<Game>

@section Title{
    Video Game Collection
}

@section AddToHead{
    <link href="@Url.Content("~/Styles/CollectionStyle.css")" rel="stylesheet" />
}

<div class="buttonToggle">
    <button class="listBtn" onclick="ListDisplay()">List</button>
    <button class="gridBtn" onclick="GridDisplay()">Grid</button>
</div>

<div class="DisplayContainer">
    <div class="List" id="display">
        <p>Here's some information.</p>
        @* Display Information based on class *@
        @foreach (Game game in Model)
        {
            <div class="gameDesign" id="game">

            </div>
        }
    </div>
</div>

<script>
    var element = document.getElementById("display");
    function ListDisplay() {
        element.className = "List";
        //document.getElementById("game").innerHTML =
    }

    function GridDisplay() {
        element.className = "Grid";
        //element.innerHTML = 
    }
</script>
