@using VideoGameCompendium.Models;
@model List<Game>

@section Title{
    Video Game Collection
}
<div class="DisplayContainer">
    <div class="List" id="display">

        @* Display Information based on class *@
        @foreach (Game game in Model)
        {
            <partial name="_DisplayGamesBrowsePartial" model="@game" />
        }
    </div>
</div>

