@using VideoGameCompendium.Models;
@model Game

@section Title
{
    Home
}

<div class="row">
    <div class="column"><img src="@Model.Image" width="180" height="180"/></div>
    <div class="dubleColumn">@Model.Description</div>
</div>

<div class="row">
    <div class="column">Rating</div>
</div>

<div class="row">
    <div class="column">Comments</div>
</div>
