@using VideoGameCompendium.Models;
@using VideoGameCompendium.Controllers;
@model Game

@section AddToHead
{
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="~/Scripts/ratingScript.js"></script>
}

@section Title
{
	Home
}

<div class="row">
	<div class="column gamePageImg"><img src="@Model.Image" /></div>	
	<div class="dubleColumn">@Model.Description</div>
</div>

<div class="row">
	<div class="column">
        <partial name="_RatingBar" model="new Tuple<Game, string> (Model, ViewBag.User?.ID)" />
    </div>
</div>

<div class="row">
	<div class="column">Comments</div>
</div>
