@using VideoGameCompendium.Models;
@model List<Game>

@section Title
    {
    Home
}

<div class="indexContent">    
    <h1 class="indexTitle">Welcome to the Video Game Compendium</h1>
    
    @if (User.Identity.Name != null)
    {
        <span>Welcome back @User.Identity.Name</span>
    }

</div>