@using VideoGameCompendium.Models;
@model User

@section Title{
    Profile
}

<div class="ProfileContainer">

	<div>
		<div>
			<div><p>@Model.Username</p></div>
			<div><img src="~/Images/@Model.Image" /></div>
			<div><p>@Model.Bio</p></div>
		</div>
			<div class="row">View Collection</div>
			<div class="row">Favorites</div>
	</div>

	<div>
		<label>Followers</label>
		@if (ViewBag.Followers != null)
		{
			<div>
				@foreach (User user in ViewBag.Followers)
				{
					<partial name="_DisplayFollowerPartial" model="user" />
				}
			</div>
		}
	</div>

	<div>
		<form method="post" action="~/Home/PostCommentUser">
			Make Comment:
			<input type="text" name="text" placeholder="Text" />
			<input type="hidden" name="userId" value="@ViewBag.User.ID" />
			<input type="hidden" name="receiverId" value="@Model.ID" />
			<input type="submit" value="Submit" />
		</form>

		@if (ViewBag.Comments != null)
		{
			<div>
				@foreach (Comment comment in ViewBag.Comments)
				{
					<partial name="_DisplayCommentPartial" model="comment" />
				}
			</div>
		}
	</div>
</div>