@using VideoGameCompendium.Models;
@model User

@section Title{ 
    Profile
}

<div class="ProfileContainer">
    <p>@Model.Username</p>
    <p>@Model.Bio</p>
    @*<p>@Model.Image</p>

    Collection
    Followers *@
</div>