@using VideoGameCompendium.Models;
@model User

@section Title{ 
    Profile
}

<div class="ProfileContainer">

    <div class="row">
        <div class="column profileUserImageBio">
            <div class="row"><p>@Model.Username</p></div>           
            <div class="row"><img src="@Model.Image" /></div>
            <div class="row"><p>@Model.Bio</p></div>
        </div>
        <div class="dubleColumn profileStatCollectionFavs">
            <div class="row">Stat Bar</div>
            <div class="row">View Collection</div>
            <div class="row">Favorites</div>
        </div>
    </div>

    <div class="row">
        <div class="column profileFriends">
            <div class="row">Friends Search Bar</div>
            <div class="row">Friends</div>
        </div>
        <div class="dubleColumn profileComments">Comments</div>
    </div>

</div>