@using VideoGameCompendium.Models;
@model User

@section Title
    {
    Account
}

<div class="row">
    <div class="column userAccountImage">
        <img src="~/Images/@Model.Image" />

        <form class="userAccountForm" action="/Home/UserAccount" method="post" enctype="multipart/form-data">
            <input type="hidden" name="ID" value="@Model.ID" />
            <input type="hidden" name="prevBio" value="@Model.Bio" />
            <input type="file" name="file" /><br />
            <label>Bio: </label>
            @if (Model.Bio != null || Model.Bio != "")
            {
                <input type="text" name="Bio" placeholder="@Model.Bio" /><br />
            }
            else
            {
                <input type="text" name="Bio" placeholder="Bio" /><br />
            }
            <input class="Button" type="submit" value="Save" />
        </form>
    </div>
    <div class="column">
       
    </div>
</div>